#inputprincipal {
	margin: 10px;

	width:	30em; 
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	box-shadow: 1px 1px 8px grey;
		border: 1px solid black;	
}
#inputprincipal:hover {
	color: black;
	border: 1px solid blue;
	box-shadow: 1px 1px 12px #555;
	
}
#inputprincipal:active {
	color: black;
	border: 1px solid blue;
	box-shadow: 1px 1px 12px #555;

}
#ico-vider {
	cursor: pointer;
	font-size: 2.5em;
}
#ico-chercher {
	cursor: pointer;
	font-size: 2.5em;
}
#ico-vider:hover {
	cursor: pointer;
	font-size: 2.5em;
	color: blue;
	
}
#ico-chercher:hover {
	cursor: pointer;
	font-size: 2.5em;
	color: blue;	
}

#div-en-tete {
	text-align: center;

}
.essai {
	height: 36px;

}
.chosen-container {
	border-radius: 10px;
	box-shadow: 1px 1px 8px grey;
	font-size: 1.2em;

}
.chosen-container:hover {
	border-radius: 10px;
	box-shadow: 1px 1px 8px blue;
}
#div-moteur-select {
	float: left;
	margin-left: 100px;
}
#div-lang-select {

	float: right;
	margin-right: 100px;

}
#div-moteur-lang {
	height: 50px;
}
#conteneur {
	width: 100%;
	height: 480px;	
}
